<html>
	<head>
		<h1>
		<font face = "Comic sans MS" size =" 5">
			Hi there here are my poems (from homer)
		</font>
		</h1>
	<style>
	body {
	    background-image: url("https://www.imgbase.info/images/safe-wallpapers/miscellaneous/computer/47810_computer_windows_95.jpg");
	}
	</style>


	</head>
	<body>
		<p>
		<font face = "Comic sans MS" size =" 2">
			HOmere reclines on his coucoh in his wonderful duff momment<br />
			The day is breaking and he is all alone,<br />
			The boy is at schoool, and Lisa is a scientist, and<br />
			Maerge is going to try sell her wares on the social market <br />

			Homer is a thinking man without all of the conundreums <br />
			Of overcomplicating it: he is just clocking down the clock <br />until he heads back down to the springfiedl nuclear power<br /> plant. a real blue collar prisoner.<br />

			Where does hoemer go when donald trump comes - and <br />how he is now not the thing that the viewers once thought he was -<br /> that intersection of americane commonality <br />
		</font>			
		</p>

		<p>
		<font face = "Comic sans MS" size =" 5">
			The mayor of springfield<br /> 
		</font>
		<font face = "Comic sans MS" size =" 2">
			HomerSimpson is the mayor of Springfield, and he is <br />powerless.<br />
			The 4th wall is the television screen, that beams him down<br />
			Like alien sawdust <br />
			He wonders where she is, and he <br />doesn't know if it's more real to think about her when he's <br />high.<br />
			Homer worked hard. He is a truman burbank figurine, made <br />from ink, dead when no-one is watching, invulnerable <br />when they are.<br />

			He thinks about surveillance. He wonders if he would be any <br />happpier if he was aware of his life. He wonders <br />about surveilling himself.<br />

			He thinks about the man who sold him this recliner and the <br />valium in a combo deal, and how he got a free cable <br />package and wonders what that means. He wants to watch the <br />football. He's anxious. He's curious. BUt he sort of <br />realises that<br />
			curiosity must be an attitude, and he's melting into the television <br />
			He wants to go back to harvey norman  <br />
			and return this fucking recliner   <br />
			and all of his lifestyles   <br />			
			D'oh!!<br /> 
		</font>			
		</p>

		<p>
		<font face = "Comic sans MS" size =" 5">
			Nuclear Prisoner<br /> 
		</font>
		<font face = "Comic sans MS" size =" 2">

			We all want easy lives until we have them, and <br /> 
			then we want something else that we can't have<br /> 
		</font>			
		</p>

		<p>
		<font face = "Comic sans MS" size =" 5">
			A Brand New HOmer<br /> 
		</font>
		<font face = "Comic sans MS" size =" 2">
			I used to be the only one but now there are only clones of me <br /> 
			Went down to Berlin once went down to Berghain, took a few <br /> 
			club mate's and got on it hardcore <br /> 
			When I was at customs at schonefeld I had a brand new passport <br /> 
			And it was my birthday <br /> 
			Kinid of like a form of rebirth for the international <br /> 
			homer simpsone in a vague and scorched world <br /> 
			like the zenith of disassociation and mental problems <br /> 
			And the customs officer looked at me and seemed to admit <br /> 
			Me through the gate as though a concession of a quarantined <br /> 
			Aspiration, the only breath in a cryogenic chamber <br /> 
			Like I couold go in and leave all my problems behind <br /> 
			Atomising them like tiny particles of oxygen <br /> 
			In a crude system of emotional osmosis <br /> 
			But still when they look at me, everyone sees the same homer <br /> 
			The sameeyes <br /> 
			The same hair, <br /> 
			The same problems <br /> 
			When will they realise: that I have left all of those  <br /> 
			Old me things behind?  <br /> 
			And all of the plastic crocodile fakes and the clones are just that! <br /> 
		</font>			
		</p>

	</body>
	<a href="/">Home</a>
	<a href="/about/">About Me</a>
	<a href="/donate/">Donate</a>
	<a href="/theboy/">The Boy</a>
	<a href="/poetry/">Poetry</a>
	<a href="/chatbot/">Chat Bot Homer Style!</a>

</html>


